{% extends 'metamodel/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'metamodel_model_list' %}">Models</a></li>
                <li><a href="{% url 'metamodel_model_meta' metafield.parent.id %}">{{ metafield.parent }}</a></li>
                <li><a href="{% url 'metamodel_field_detail' metafield.id %}">{{ metafield.name }}</a></li>
                <li class="active">Make non-nullable</li>
            </ol>

            <h1 class="page-header">{{ metafield.parent }} <small>{{ metafield.name }} &raquo; Make non-nullable</small></h1>

            <p>
                From this interface you can mark a field as non nullable, so
                that future instances of this field cannot be left blank in
                their forms.
            </p>

            {% if metafield.requieres_default_for_saving %}
                <p>
                    You must provide a default value for the existing entries of
                    this field that have "None" as value
                </p>
            {% endif %}

            <form method="post" action=".">
                {% csrf_token %}

                {% if form %}
                    <table class="table table-bordered">
                        {{ form.as_table }}
                    </table>
                {% endif %}

                <input type="submit" class="btn btn-primary" value="Mark field as non-nullable" />
            </form>
        </div>
    </div>
{% endblock %}
