{% extends 'metamodel/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'metamodel_model_list' %}">Models</a></li>
                <li><a href="{% url 'metamodel_model_detail' metamodel.id %}">{{ metamodel }}</a></li>
                <li class="active">Edit properties</li>
            </ol>

            <h1 class="page-header">{{ metamodel }} <small>Edit properties</small></h1>

            <form method="post" action="." class="with-margin-bottom">
                {% csrf_token %}

                <table class="table table-bordered">
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Save changes" class="btn btn-primary" />
            </form>
        </div>
    </div>
{% endblock %}
