amqp==2.4.2
appnope==0.1.0
beautifulsoup4==4.6.0
billiard==3.5.0.5
boto3==1.4.4
botocore==1.5.82
cachetools==3.1.1
celery==4.1.1
certifi==2017.4.17
chardet==3.0.4
cssselect==1.0.1
cssutils==1.0.2
dateutils==0.6.6
decorator==4.0.11
defusedxml==0.5.0
demjson==2.2.4
Django==2.0.3
django-allauth==0.34.0
django-codemirror-widget==0.4.1
django-cors-headers==2.1.0
django-crispy-forms==1.7.0
django-custom-user==0.7
django-extensions==1.8.1
django-filter==1.0.4
django-gtin-fields==0.1.2
django-guardian==1.4.9
django-mathfilters==0.4.0
django-polymorphic==1.3
django-premailer==0.2.0
django-querycount==0.6.0
django-redshift-backend==1.0.0
django-rest-auth==0.9.3
django-storages==1.6.3
djangorestframework==3.9.4
docutils==0.13.1
elasticsearch==7.0.2
elasticsearch-dsl==7.0.0
geoip2==2.5.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
html2text==2016.9.19
httplib2==0.13.0
idna==2.5
ipdb==0.10.3
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
jmespath==0.9.3
kombu==4.5.0
lxml==4.3.3
maxminddb==1.3.0
mock==2.0.0
numpy==1.16.2
oauth2client==4.1.3
oauthlib==2.0.6
olefile==0.44
pandas==0.24.2
pbr==3.1.1
pep8==1.7.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.4.1
premailer==3.0.0
prompt-toolkit==1.0.14
psycopg2==2.7.1
ptyprocess==0.5.2
pubnub==4.1.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycryptodomex==3.4.7
PyDrive==1.3.1
Pygments==2.2.0
PyMeta3==0.5.1
pynliner3==0.6
python-dateutil==2.6.1
python-memcached==1.59
python-stdnum==1.7
python3-openid==3.1.0
pytz==2018.3
PyYAML==5.1.1
requests==2.18.1
requests-oauthlib==0.8.0
rsa==4.0
s3transfer==0.1.10
scikit-learn==0.20.3
scipy==1.2.1
selenium==3.141.0
simplegeneric==0.8.1
six==1.10.0
sorl-thumbnail==12.4.1
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.24.2
validators==0.12.0
vine==1.3.0
wcwidth==0.1.7
Werkzeug==0.12.2
XlsxWriter==1.0.0
