{% load static %}
{% load premailer %}

{% premailer 'http://localhost:8000' %}
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="{% static 'css/foundation-emails.css' %}">
    {% block head %}
    {% endblock %}

    <style>
      table.body {
        background-color: #fdfdfd !important;
      }

      .vertical-padder {
        height: 20px;
      }

      h3 {
        color: #264c85;
        font-size: 20px;
        padding-bottom: 10px;
      }

      .callout-inner {
        padding: 20px !important;
        border-color: #f0f0f0 !important;
      }

      .logo {
        padding-bottom: 10px;
      }

      .logo img {
        width: 198px;
        height: 54px;
      }
    </style>
  </head>

  <body>
  <!-- Wrapper for the body of the email -->

  <table class="body" data-made-with-foundation>
    <tr>
      <td class="vertical-padder">&nbsp;</td>
    </tr>
    <tr>
      <!-- The class, align, and <center> tag center the container -->
      <td class="float-center" align="center" valign="top">
        <center>
          <!-- The content of your email goes here. -->
          <table class="container">
            <tr>
              <td class="vertical-padder">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table class="row">
                  <tbody>
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th class="logo"><img src="{% static 'img/mailing/logo.png' %}" /> </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                  </tbody>
                </table>
                <table class="row">
                  <tbody>
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table class="callout">
                        <tr>
                          <th class="callout-inner">
                            <table>
                              <tr>
                                <th>
                                  {% block content %}
                                  {% endblock %}
                                </th>
                              </tr>
                            </table>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
  </body>
  </html>
{% endpremailer %}