{% extends 'mailing/base.html' %}

{% load i18n %}

{% block content %}

  <h3>{% trans 'Entity dissociated' %}</h3>

  <p>{% trans 'An entity you associated in the past has just been dissociated' %}</p>

  <ul>
    <li><b>{% trans 'ID' %}:</b> {{ entity.id }}</li>
    <li><b>{% trans 'Name' %}:</b> {{ entity.name }}</li>
    <li><b>{% trans 'Store' %}:</b> {{ entity.store }}</li>
    <li><b>{% trans 'Original product' %}:</b> {{ entity.product }}</li>
    <li><b>{% trans 'Original association date' %}:</b> {{ entity.last_association }}</li>
  </ul>

  <p>{% trans 'Dissociation information' %}</p>

  <ul>
    <li><b>{% trans 'Date' %}:</b> {{ timestamp }}</li>
    <li><b>{% trans 'User' %}:</b> {{ dissociation_user.get_full_name }}</li>
  </ul>

  {% if reason %}
    <p>
      {% trans 'The reason given' %}:
    </p>

    <table class="callout row">
      <tbody>
      <tr>
        <th class="callout-inner warning">
          <p>{{ reason|linebreaks }}</p>
        </th>
        <th class="expander"></th>
      </tr>
      </tbody>
    </table>
  {% else %}
    <p>{% trans 'No particular reason given.' %}</p>
  {% endif %}

  <table class="button">
    <tr>
      <td>
        <table>
          <tr>
            <td><a href="{{ host }}entities/{{ entity.id }}">{% trans 'Check the entity' %}</a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

{% endblock %}