{% extends 'mailing/base.html' %}

{% load staticfiles %}

{% block head %}
  <style>
    h3 {
      color: #8a8a8a;
    }
  </style>
{% endblock %}

{% block content %}
  <table class="row">
    <tbody>
    <tr>
      <th class="small-12 large-12 columns">
        <table>
          <tr>
            <th><img src="{% static 'img/mailing/logo.png' %}" /> </th>
          </tr>
        </table>
      </th>
    </tr>
    </tbody>
  </table>
  <table class="row">
    <tbody>
    <tr>
      <th class="small-12 large-12 columns first last">
        <table>
          <tr>
            <th>
              <h3>Reporte de error</h3>

              <p>Se detectó un error al actualizar la información de una entidad</p>

              <ul>
                <li><b>ID:</b> <a href="{{ host }}entities/{{ entity.id }}">{{ entity.id }}</a></li>
                <li><b>Nombre:</b> {{ entity.name }}</li>
                <li><b>Tienda:</b> {{ entity.store }}</li>
              </ul>

              <p>Información de la petición</p>

              <ul>
                <li><b>Fecha:</b> {{ timestamp }}</li>
                <li><b>Usuario:</b> {{ request_user }}</li>
              </ul>

              <p>
                El error encontrado fue:
              </p>

              <table class="callout">
                <tr>
                  <th class="callout-inner warning">
                    <p>{{ error|linebreaks }}</p>
                  </th>
                  <th class="expander"></th>
                </tr>
              </table>
            </th>
          </tr>
        </table>
      </th>
    </tr>
    </tbody>
  </table>
{% endblock %}