{% extends 'mailing/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block head %}
  <style>
    h3 {
      color: #264c85;
      font-size: 20px;
      padding-bottom: 10px;
    }

    .callout-inner {
      padding: 20px !important;
      border-color: #f0f0f0 !important;
    }

    .logo {
      padding-bottom: 10px;
    }

  .logo img {
    width: 198px;
    height: 54px;
  }
  </style>
{% endblock %}

{% block content %}
  <table class="row">
    <tbody>
    <tr>
      <th class="small-12 large-12 columns first last">
        <table>
          <tr>
            <th class="logo"><img src="{% static 'img/mailing/logo.png' %}" /> </th>
          </tr>
        </table>
      </th>
    </tr>
    </tbody>
  </table>
  <table class="row">
    <tbody>
    <tr>
      <th class="small-12 large-12 columns first last">
        <table class="callout">
          <tr>
            <th class="callout-inner">
              <table>
                <tr>
                  <th>
                    <h3>{% trans 'Error report' %}</h3>

                    <p>{% trans 'An error has been detected while updating the pricing of an entity' %}</p>

                    <ul>
                      <li><b>{% trans 'ID' %}:</b> {{ entity.id }}</li>
                      <li><b>{% trans 'Name' %}:</b> {{ entity.name }}</li>
                      <li><b>{% trans 'Store' %}:</b> {{ entity.store }}</li>
                    </ul>

                    <p>{% trans 'Request information' %}</p>

                    <ul>
                      <li><b>{% trans 'Date' %}:</b> {{ timestamp }}</li>
                      <li><b>{% trans 'User' %}:</b> {{ request_user }}</li>
                    </ul>

                    <p>
                      {% trans 'The found error' %}:
                    </p>

                    <table class="callout">
                      <tr>
                        <th class="callout-inner warning">
                          <p>{{ error|linebreaks }}</p>
                        </th>
                        <th class="expander"></th>
                      </tr>
                    </table>

                    <table class="button">
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td><a href="{{ host }}entities/{{ entity.id }}">{% trans 'Solve issue' %}</a></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </th>
                </tr>
              </table>
            </th>
            <th class="expander"></th>
          </tr>
        </table>

      </th>
    </tr>
    </tbody>
  </table>
{% endblock %}